<div class="container">
<div class="logo">
<a href=""><%= image_tag "logo.png" %></a>
</div>
<div class="wrapper">





<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div><h2>Forgot your password?</h2></div>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, autofocus: true, class: 'form-control',  placeholder:'Email Address'  %></div>

  <div><br><%= f.submit "Submit", class:'btn btn-lg btn-primary btn-block btn1 btn4' %></div>
  <%= render "devise/shared/links" %>
<% end %>


